*
{
	margin: 0px;
	padding: 0px;
	border: 0;
}

body
{
    font-family: 'Nobile', sans-serif;
	color: black;
    height: 100%;
}

#container
{
	background-color: white;
    width: 960px;
    height: 100%;
	margin: auto;
    margin-top: 10px;
    padding: 10px;
}

#nameplate
{
	margin-bottom: 0px;
    letter-spacing: -5px;
}

#logo
{
    width: 400px;
    float: left;
    height: 100%;
    border-right: 7px double black;
}

#resume
{
    width: 500px;
    float: left;
    height: 100%;
    padding-left: 12px;
}

h1
{
	font-family: 'Gruppo', cursive;
	font-size: 4em;
    line-height: .7;
}

.title
{
    font-variant: small-caps;
    letter-spacing: 10px;
    text-indent: 25px;
    line-height: 30px;
}

.resumeSection
{
    margin-top: 10px;
}

li
{
    display: inline;
}

dt
{
    margin-top: 10px;
    font-weight: bold;
}

ul
{
    margin-top: 10px;
}